<div class="blogbackground">
  <div class="blogbanner mb-4">
    <div class="container pt-5">
      <h1>Welcome to Rebeccas' Blog</h1>
    </div>
  </div>
  <div class="container">
    <h2 class="maintitle textred">Howdy!</h2>
    <p>Welcome to my blog, where I delve into the intricacies of my career journey, exploring the highs and lows that have shaped my growth amidst the bustling world around me. Join me as I unravel the strategies and styles that have been instrumental in my development, offering insights gleaned from my experiences navigating through the challenges and triumphs of professional life.</p>
  </div>

  <div class="container pb-4">
    <div class="row">
      <% @blogs.each do |blog| %>
      <div class="col-sm-6">
        <%= link_to "/blogs/#{blog.id}", style: "text-decoration: none;" do %>
          <%= image_tag blog.image, class: "profileimage" if blog.image.present? %>
          <h3 class="blacktext"><%= blog.title %></h3>
        <% end %>
      </div>
      <% end %>

    </div>
  </div>



</div>
