<div class="mainbackgroundcolour">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class= "order-sm-2 col-sm-6">
        <div>
          <%= cl_image_tag("rebecca_profile_pic_sivkox", class: "profileimage smallscreen", alt: "Rebecca profile picture") %>
        </div>
      </div>
      <div class="order-sm-1 col-sm-6">
        <div class="aboutcard">
          <div class="container">
            <h2 class="maintitle">About Rebecca</h2>
            <p>Hello, I’m Rebecca and as a dedicated health and wellness coach, I specialise in supporting corporate clients and individuals navigating the complexities of career development, particularly those facing the challenges of burnout. My journey from overcoming personal burnout to establishing a successful coaching practice has imbued me with a profound understanding of the delicate balance between professional success and personal well-being. My mission is to empower ambitious professionals and corporate teams to achieve their fullest potential while maintaining optimal health.</p>
            <p>My methodology is rooted in evidence-based wellness practices, tailored to meet the unique needs of individuals and organisations in high-stress environments. I offer a suite of services designed to cultivate resilience, foster work-life harmony, and enhance overall productivity. By addressing both the physical and psychological aspects of health, I guide my clients toward sustainable career growth and improved quality of life. Whether you’re an individual seeking to advance in your career without compromising your health, or a corporate team aiming to boost morale and efficiency, I provide the strategies and support to navigate the path to success and well-being.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pb-5">
      <%= link_to "get in touch", contact_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>
