<div class="packagebackground">
  <div class="pt-5">
    <div class="container">
      <h1 class="pb-3"><strong>1:1 for you!!</strong></h1>
      <h2>Hey!! Im here to offer people support to increase their self-efficacy, motivation and commitment to make changes to their lifestyle and improve their health</h2>
    </div>
  </div>
</div>
<div class="pt-5 OnetoOnebackgroundcolour">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="packagecard">
          <%= cl_image_tag("corperate_wellness_nsoaky", class: "packageimages", alt: "meditation at work") %>
         <div data-controller= toggle class="card-body" >
          <h5 class="card-title text-center"><strong>1:1 corporate health and wellness sessions</strong></h5>

              <p class="card-text text-center">Elevate your career while prioritising holistic well-being through our bespoke 60-minute 1:1 Health and Wellness Career Coaching sessions.</p>
              <button class="btn btn-primary read-more-btn" data-action="click->toggle#fire">Read More</button>

            <div class="d-none" data-toggle-target="toggleableElement">
              <p class="card-text text-center">Tailored specifically for ambitious professionals, our coaching service is designed to seamlessly integrate career growth with optimal health and wellness strategies. In these sessions, you will receive personalised guidance to navigate the intricacies of advancing your career, bolstering productivity, and fostering a harmonious work-life balance, all while safeguarding your physical and mental health. Benefit from the expertise of our seasoned coaches, who provide customised approaches and insights to address your individual challenges and aspirations. This is your opportunity to redefine your professional journey and cultivate a thriving career that doesn't compromise on health and personal well-being. Make the commitment to achieve professional excellence and holistic health by reserving your session today.</p>
              <p class="card-text text-center">Price: 55.00 per hour, block booking prices can be offered at a discounted rate below:</p>
              <p class="card-text text-center">5x sessions – 250.00</p>
              <p class="card-text text-center">10x sessions – 500.00</p>
            </div>
          <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="packagecard">
          <%= cl_image_tag("banishbuenout1_iygrf5", class: "packageimages", alt: "meditation at work") %>
          <div data-controller= toggle class="card-body">
            <h5 class="card-title text-center"><strong>1:1 Health and wellness coaching sessions for those suffering from burnout</strong></h5>
            <p class="card-text text-center">Beat burnout and get back to feeling like yourself with our 1:1 Health and Wellness Coaching, designed for people who are struggling with the stress and exhaustion of burnout. </p>
             <button class="btn btn-primary read-more-btn" data-action="click->toggle#fire">Read More</button>
            <div class="d-none" data-toggle-target="toggleableElement">
              <p class="card-text text-center">Life these days can be really tough, often leaving us feeling worn out, unhappy, and disconnected from what matters. Our program is here to help you find your way out of that rut. With a plan that's made just for you, our experienced coaches will show you how to handle stress better, find a healthier balance between work and life, and get that spark back in your day-to-day. Through practical advice and real strategies, we'll help you not just bounce back from burnout, but also build a life where you can thrive. Say no to feeling constantly drained and start your journey toward feeling great again. It's time to put your wellbeing first, and we're here to help you do just that.</p>
              <p class="card-text text-center">Price: 55.00 per hour, block booking prices can be offered at a discounted rate below:</p>
              <p class="card-text text-center">5x sessions – 250.00</p>
              <p class="card-text text-center">10x sessions – 500.00</p>
            </div>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="packagecard">
          <%= cl_image_tag("banishbuenout1_iygrf5", class: "packageimages", alt: "meditation at work") %>
          <div data-controller= toggle class="card-body">
          <h5 class="card-title text-center"><strong>Peak Performance: Career Productivity & Wellness Program</strong></h5>
          <p class="card-text text-center">Unlock your full professional potential through our **Peak Performance: Career Productivity & Wellness Program**, a holistic three-month journey designed for individuals aiming to elevate their career productivity and excel in their professional lives. By integrating wellness and productivity strategies, this program empowers you to achieve superior performance, resilience, and well-being.</p>
          <button class="btn btn-primary read-more-btn" data-action="click->toggle#fire">Read More</button>
          <div class="d-none" data-toggle-target="toggleableElement">
          <h6><strong><u>Month 1: Foundation for Success</u></strong></h6>
          <p><strong>Week 1-2: Mindset and Time Management Mastery </strong></p>
          <ul>
            <li>Initial Assessment & Goal Setting (1 hour):** A personalised session to evaluate your current productivity levels, professional goals, and well-being.</li>
            <li>Mindset Mastery Workshop (2 hours):** Understand the psychology of productivity and learn techniques to develop a growth mindset for success.</li>
            <li>Effective Time Management Training (2 hours):** Learn and implement cutting-edge time management and prioritisation strategies to maximise daily efficiency.</li>
          </ul>
          <p><strong>Week 3-4: Health Optimisation for Energy</strong></p>
          <ul>
            <li>Nutritional Consultation for Peak Performance (1 hour):** A session focused on optimising your diet for energy, focus, and stamina.</li>
            <li>Personalised Exercise Plan with Bi-weekly Coaching:** Custom fitness regime to improve physical health, relieve stress, and enhance mental clarity.</li>
            <li>Sleep Hygiene Workshop (1 hour):** Strategies to improve sleep quality, ensuring you are well-rested and energised each day.</li>
          </ul>
          <h6><strong><u>Month 2: Strengthening the Core</u></strong></h6>
          <p><strong>Week 5-6: Stress Resilience Building </strong></p>
          <ul>
            <li>Stress Management Techniques Workshop (2 hours):** Equip yourself with effective stress resilience techniques to maintain peak performance under pressure.</li>
            <li>Weekly Mindfulness and Meditation Sessions:** Group sessions aimed at enhancing mental wellness, focus, and productivity through mindfulness practices.</li>
          </ul>
          <p><strong>Week 7-8: Communication & Collaboration Skills</strong></p>
          <ul>
            <li>Impactful Communication Workshop (2 hours):** Master communication skills to effectively express ideas, influence others, and manage conflicts.</li>
            <li>- **Team Collaboration and Leadership Skills Session (2 hours):** Foster teamwork and leadership abilities to drive projects and inspire team members.</li>
          </ul>
           <h6><strong><u>Month 3: Optimisation and Advancement</u></strong></h6>
          <p><strong>Week 9-10: Creative Problem-Solving & Innovation</strong></p>
          <ul>
            <li>Creative Thinking and Problem-Solving Workshop (2 hours):** Techniques to boost creativity, innovate solutions, and tackle challenges with a fresh perspective.</li>
            <li>Productivity Tools & Technologies Training (2 hours):** Leverage modern tools and technologies to streamline workflows and enhance productivity.</li>
          </ul>
          <p><strong>Week 11-12: Long-Term Success Planning</strong></p>
          <ul>
          <li>- **Long-Term Career Planning Session (2 hours):** Define future career aspirations, set achievable goals, and develop an action plan for continued growth.</li>
          <li>- **Final Evaluation & Strategy Optimisation (1 hour):** Review progress, celebrate achievements, and refine strategies for sustained performance and well-being.</li>
          </ul>
          <p><strong>Additional Benefits: </strong></p>
          <ul>
            <li>- **24/7 Access to the Online Resource Library:** Including guides on nutrition, fitness, mindfulness, productivity tools, and more.</li>
            <li>- **Weekly Inspirational Emails:** Tips for maintaining momentum, success stories to inspire, and the latest findings in productivity and wellness research.</li>
          </ul>
          <p><strong>Investment in Excellence:</strong></p>
          <p>- **Program Fee: 2,000.00** (Please contact us for detailed pricing and any available customisation options based on your specific career and wellness goals.)</p>
          <p>The **Peak Performance: Career Productivity & Wellness Program** is crafted for those committed to transcending their current limits and achieving unparalleled success in their careers. By integrating physical health, mental wellness, and productivity strategies, this program offers a comprehensive approach to unlock your highest potential.</p>
          <p>To embark on this transformative journey, please reach out. Let’s elevate your professional life to new heights of achievement and fulfilment.</p>
          </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="packagecard">
          <%= cl_image_tag("banishbuenout1_iygrf5", class: "packageimages", alt: "meditation at work") %>
          <div data-controller= toggle class="card-body">
          <h5 class="card-title text-center"><strong>Accelerated Peak Performance Program</strong></h5>
          <p class="card-text text-center">Elevate your career productivity and excel within an intense, focused one-month journey through the **Accelerated Peak Performance Program**. This compact, holistic program is specifically designed for ambitious individuals ready to quickly integrate wellness and productivity strategies for superior performance and success.</p>
          <button class="btn btn-primary read-more-btn" data-action="click->toggle#fire">Read More</button>
          <div class="d-none" data-toggle-target="toggleableElement">
          <h6><strong><u>Week 1: Establishing a High-Performance Mindset</u></strong></h6>
          <ul>
            <li>- **Initial Assessment & Goal Setting (1 hour):** Set the stage with a personal evaluation to identify productivity baselines, wellness levels, and professional ambitions.</li>
            <li>- **Mindset and Time Management Mastery (2 hours):** Equip yourself with a growth mindset and advanced time management techniques to significantly boost daily efficiency.</li>
          </ul>
          <h6><strong>Week 2: Health Optimisation for Sustained Energy</strong></h6>
          <ul>
            <li>- **Nutritional Essentials for Peak Performance (1 hour):** A session on optimising your nutrition for maximum energy, focus, and productivity.</li>
            <li>- **Customised Exercise Planning (1 hour):** Develop a fitness routine tailored to improve physical wellness and mental sharpness, including stress-reducing exercises.</li>
            <li>- **Sleep Optimisation Workshop (1 hour):** Implement effective sleep strategies to ensure restorative sleep, enhancing overall performance.</li>

          </ul>
          <h6><strong>Week 3: Building Resilience and Communication Skills</strong></h6>
          <ul>
            <li>- **Stress Resilience Techniques Workshop (2 hours):** Acquire tools to maintain peak performance under pressure and bounce back from setbacks more robustly.</li>
            <li>- **Effective Communication & Collaboration Skills Session (2 hours):** Boost your ability to communicate ideas clearly, influence others, and enhance collaborative efforts.</li>
          </ul>
          <h6><strong>Week 4: Advancement through Problem-Solving & Planning</strong></h6>
          <ul>
            <li>- **Innovative Problem-Solving Workshop (2 hours):** Learn to apply creative thinking for inventive solutions and overcoming professional challenges.</li>
            <li>- **Productivity Tools & Technology Training (1 hour):** Master the latest productivity tools to streamline your workflow and boost efficiency.</li>
            <li>- **Long-Term Success Strategy Session (1 hour):** Chart out your future goals with a personalized, actionable plan for continuous growth and success.</li>
          </ul>
          <p><strong>Features of the Program:</strong></p>
          <ul>
            <li>- **24/7 Online Resource Access:** Unlimited access to a digital library of guides and resources on nutrition, fitness, productivity, and more.</li>
            <li>- **Weekly Motivational Emails:** Receive tips, success stories, and motivational insights to keep you inspired throughout your journey.</li>
          </ul>
          <p><strong>Investment in Your Future:</strong></p>
          <p>- **Program Cost: 600.00 (Please contact us for pricing details and to discuss any specific personal or professional goals you wish to achieve with this program.)</p>
          <p>The **Accelerated Peak Performance Program** combines critical elements of wellness and productivity into a streamlined one-month course, designed to propel you towards achieving your career aspirations while maintaining a healthy, balanced life.</p>
          <p>To take the first step towards realising your full professional potential, please reach out. Commit to your growth, and let us help you navigate your path to peak performance.</p>

          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
