.hompagecard{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #E8D9CC;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
}
.testborder{
  border: 1px solid black;

}

.card-body{
  padding: 20px;
}

.hompagecard1{
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #FFFFF0;
  max-width: 572px;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
}

.hompagecard2{
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #826100;
  max-width: 572px;
  border-radius: 1.7rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
}

.aboutcard{
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-width: 572px;
  background-color: #E8D9CC;
  border-radius: 1.7rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
}

.packagecard{
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  width: calc(100% - calc(2rem * 2));
  background-color: #E8D9CC;
  border-radius: 1.7rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .smallscreen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
