.footerbackground{
  background-color: #F2EFE8;
  width: 100%;
}



.social-icons a {
  margin-right: 10px; /* Add some space between the icons */
}

.social-icons a i {
  color: black; /* Change the color of the icons to black */
}
.social-icons a i:hover {
  color: #7b7b7b; /* Change the color of the icons to black */
}

.footerimage{
  width: 20vw;
  height: 20vw;
}

.footerstyle {
  text-decoration: none;
  color: black;
  position: relative; /* Ensure the pseudo-element is positioned relative to this element */
}

.footerstyle:hover {
  color: #7b7b7b;
}

.footerstyle::before {
  content: "";
  position: absolute;
  bottom: 0; /* Position the underline at the bottom of the element */
  left: 0; /* Start the underline from the left edge */
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline */
  background: #7b7b7b; /* Color of the underline */
  transform: scaleX(0); /* Initially invisible */
  transform-origin: bottom left; /* Anchor point for the transformation */
  transition: transform 0.3s ease; /* Transition for the underline */
}

.footerstyle:hover::before {
  transform: scaleX(1); /* Slowly underline on hover */
}
