.footerbackground{
  background-color: #F2EFE8;
  width: 100%;
}



.social-icons a {
  margin-right: 10px; /* Add some space between the icons */
}

.social-icons a i {
  color: black; /* Change the color of the icons to black */
}
.social-icons a i:hover {
  color: #7b7b7b; /* Change the color of the icons to black */
}

.footerimage{
  width: 20vw;
  height: 20vw;
}
