.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbanner{
  height: 60px;
}

.navcolor{
  background-color: #F2EFE8;
}
.navbar-nav1 {
  display: flex;
  justify-content: space-around; /* Adjust this according to your preference */
  align-items: center; /* Align items vertically center */
}

.nav-item1 {
  list-style: none; /* Remove default list styling */
}

.nav-link1 {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Set link color */
  padding: 10px 15px; /* Add padding to links */
}

/* Optional: Add hover effect to links */
.nav-link1:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.textblack2 {
  color: #333; /* Text color */
  text-decoration: none; /* Remove default underline */
  position: relative;
}

/* Add an underline and make it transparent initially */
.textblack2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline */
  bottom: 0;
  left: 0;
  background: #333; /* Color of the underline */
  transform: scaleX(0); /* Initially invisible */
  transform-origin: bottom;
  transition: transform 0.3s ease; /* Transition for the underline */
}

/* Hover effect to slowly underline the text */
.textblack2:hover::before {
  transform: scaleX(1); /* Slowly underline on hover */
}

.textgreen {
  color: #4CAF50; /* Text color */
}



@media (min-width: 576px) {
  .smallerscreennav{
    display: none;
  }

}
@media (max-width: 576px) {
  .largerscreennav{
    display: none;
  }
  .navlogo{
    width: 140px;
  }

  .menu1{
    margin-right: 2vw;
  }

  .menu2{
    float: right;
  }

  .navbar-nav{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .nav-item{
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f0;
  }
}
