.blacktext{
  color: black;
}
.colored-paragraph {
  background-color: #FFFFF0; /* You can replace "blue" with any color you prefer */
}

@media (min-width: 576px) {
  .imagetitle{
   display: none;
  }
}
@media (max-width: 576px) {
  .maintitle{
   display: none;
  }
}
