.blacktext{
  color: black;
}
.textred{
  color: red;
  border: 1px solid red;
}
.colored-paragraph {
  background-color: #FFFFF0; /* You can replace "blue" with any color you prefer */
}

.hidden {
  display: none;
}

.flashcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}

@media (min-width: 576px) {
  .imagetitle{
   display: none;
  }
}
@media (max-width: 576px) {
  .maintitle{
   display: none;
  }
}
