<footer class="footer footerbackground">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <%= cl_image_tag("nourishbodymindLogo_buoeik",class: "footerimage", alt: "Nourish Mind and body logo") %>
      </div>
      <div>
        <div class="social-icons ">
          <a href="http://"><i class="fa-3x fa-brands fa-facebook"></i></a>
          <a href="http://"><i class="fa-3x fa-brands fa-instagram"></i></a>
          <a href="http://"><i class="fa-3x fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
