<footer class="footer footerbackground">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= cl_image_tag("nourishbodymindLogo_buoeik", class: "footerbanner float-left", alt: "Nourish Mind and body logo") %>
      </div>
      <div class="col-md-6">
        <div class="float-right">
          <a href="http://">facebook</a>
          <a href="http://">instagram</a>
          <a href="http://">linkedin</a>
        </div>
      </div>
    </div>
  </div>
</footer>
