<footer class="footer footerbackground">
  <div class="container">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
      <div class="mb-3 mb-md-0">
        <%= cl_image_tag("nourishbodymindLogo_buoeik", class: "footerimage", alt: "Nourish Mind and body logo") %>
      </div>
      <div class="mb-3 mb-md-0 text-center text-md-left">
        <p>T: <a class="footerstyle" href="tel: 07762439554">07762439554</a></p>
        <p>E: <a class="footerstyle" href="mailto:rebecca.nourishmindbody@outlook.com" target="_blank">rebecca.nourishmindbody@outlook.com</a></p>
      </div>
      <div class="text-center text-md-left">
        <div class="social-icons">
          <a href="https://www.facebook.com/profile.php?id=61556664165794"><i class="fa-3x fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com/nourish_mb/"><i class="fa-3x fa-brands fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/rebecca-morris-smith-17509bb6/"><i class="fa-3x fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
